{% extends 'base.html' %}
{% block content %}










<h1 class="mt-5 pt-4 text-center">ブログサイト</h1>
<!-- モーダル -->
<button data-toggle="modal" data-target=".bd-example-modal-lg" style="margin: 0 auto;" type="button" class="btn btn-primary d-block my-3 px-5"><i class="fa fa-search">検索</i></button>
 <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
       <div class="card text-align-center">
         <div class="card-body">
<!-- filter.html -->
           {% include 'blog_app/filter.html' %}
         </div>
       </div>
     </div>
   </div>
 </div>
<!-- 検索結果の詳細を表示 -->
{% if title_or_user or date_min or date_max or tag %}
<p class="mb-0 text-center font-weight-bold h3">検索結果：{{posts.count}}件</p>
<table class="table table-bordered">
 <thead class="thead-light">
   <tr>
     <th>タイトル or ユーザー名</th>
     <th>開始日〜終了日</th>
     <th>タグを選択</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>{{request.GET.title_or_user}}</td>
     <td>{{request.GET.date_min}}〜{{request.GET.date_max}}</td>
     <td>{{request.GET.tag}}</td>
   </tr>
 </tbody>
</table>
{% endif %}






<h1>this is index. <br>USE: project template.</h1>

<div class="">
<form class="form-inline my-2" method="GET" action="{% url 'blog_app:index' %}">
 <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
 <button type="submit" value="search" class="btn btn-primary">検索</button>
</form>
</div>



{% if query %}
<p class="text-center font-weight-bold h4">{{posts.count}}件</p>
{% endif %}




<!--{{posts}}-->
<!--クエリセットが出力される。チュートリアルに修正類似例あり-->

{% for post in posts%}
<a href="{% url 'blog_app:detail' post_id=post.id %}"> <!-- 追加 -->
 {% if post.image %}
   <img src="{{ post.image.url }}">
 {% endif %}
   <h5>{{post.title|truncatechars:13 | linebreaksbr}}</h5>
   <p>{{post.text}}</p>
</a>  <!-- 追加 -->
   <p>#{{post.tag}}</p>
   <p>{{post.created_at}}</p>
   <hr>



     <p>#{{post.tag}}</p>
     <p>{{post.created_at}} |
     <a href="{% url 'user_app:detail' post.user.id %}">{{post.user.username}}</a></p>


{% endfor %}



{% endblock %}